.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:calc(100vh - 56px);
}

.login-page .card {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-page h2 {
    color: #007BFF;
    margin-bottom: 20px;
  }
  
  .login-page form {
    display: flex;
    flex-direction: column;
  }
  
  .login-page label {
    text-align: left;
    margin-bottom: 5px;
  }
  
  .login-page input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-page button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-page .switch {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .login-page .switch a {
    color: #007BFF;
    text-decoration: none;
  }